fastapi
uvicorn
pydantic>=2.0
pydantic-settings
fastapi_cdn_host

pypdf
python-docx
markdown
langchain-core
langchain-text-splitters
langchain-openai
langchain-community

langchain
chromadb
sentence-transformers

python-multipart




